<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
    integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <title>Recipes</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
       <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/signin">Sign In</a></li>
  </ul>
    </div>
  </nav>


  <h2>Sign Up</h2>


  <form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Your username">

    <label for="password">Password</label><br>
    <input type="text" name="password" placeholder="********">

    <div class="form-group col-md-4">
      <div class="g-recaptcha" data-sitekey="6LeR0ZMUAAAAAHe19OLvaksuM7cB-k8XHCCmE96b"></div>
    </div>

    <button type="submit">Create account</button>
      <p class="account-message">
    Having an account? <a href="/signin">Sign in</a>
  </p>
  </form>
    

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>

</html>