
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes</title>
</head>
<body>
  <h1>Recipes</h1>
<button type="button" class="btn btn-primary check" name="addRecipe"> <a class="nav-link" href="/recipes/add">Add recipe</a></button>
<div class="cards">
     {{#each recipes}}
    <div class="card">
    <li class="list-group-item"><a href="/recipe/{{this._id}}">{{this.title}}</a></li>
    </div>
     {{/each}}
</div>
</body>
</html>

