* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100%;
    background: url('https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#username {
    text-transform: capitalize;
    position: absolute;
    top: 12px;
    left: 840px;
    font-size: 15px;
    color: #fff;
    padding: 3px;
    z-index: 100;
    border-bottom: 2.5px solid #fff;
}


.title {
    position: absolute;
    top: 12px;
    left: 40px;
    font-size: 15px;
    color: #fff;
    padding: 3px;
    z-index: 100;
    border: 1px solid #fff;
    border-bottom: 2.5px solid #fff;
}

.active .title:hover {
    background: yellow;
    color: #000 !important;
}

.logout {
    position: relative;
    left: 1100px;
    top: -4px;
    font-size: 1em;
    padding-bottom: 0;
    border-bottom: 2.5px solid #fff;
}

.logout:hover {
    color: yellow !important;
    text-decoration: none;
    border-bottom: 2.5px solid yellow;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.text-center {
    position: relative;
    top: -2em;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 4.5em 0em;
    margin-bottom: 7em;
    width: 100%;
    border: 2px solid #333;
    padding: 4em 3em;
    background: aliceblue;
}

.cards form {
    position: relative;
    top: -2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 0;
    margin-bottom: 6em;
}

.btn-primary

/*button */
    {
    margin-top: 1em;
    width: 35%;
}

.image {
    margin: 1em 0em;
}


.page-footer {
    width: 100%;
    align-self: center;
    position: relative;
    bottom: -2.6em;
    padding-bottom: 4em;
    left: -1em;
}

.footer-copyright {
    color: #fff;
    font-size: 1.2em;
    padding: 5px;
    position: absolute;
    margin-top: 2em;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100vw;
    background: darkolivegreen;

}

.footer-copyright a {
    text-decoration: none;
    color: aquamarine;
}

@media screen and (min-width: 300px) and (max-width: 780px) {
    .title {
        position: absolute;
        top: 79px;
        height: 40px;
        opacity: 1;
        left: 15px;
    }
}