* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.logos img {
    height: 50px;
    width: 80px;
    cursor: pointer;
    left: 30px;
}

.title {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 15px;
    color: #fff;
    padding: 3px;
    opacity: 0;
    z-index: 100;
    border: 1px solid rgb(25, 41, 70);
    border-bottom: 2.5px solid rgb(25, 41, 70);
}

.active .title:hover {
    background: rgb(224, 124, 9);
    color: #000 !important;
}

.signup {
    color: rgb(25, 41, 70)  !important;
    top: -4px;
    right: -500px;
    border-bottom: 2.5px solid rgb(25, 41, 70);
}

.signup:hover {
    color: rgb(224, 124, 9) !important;
    text-decoration: none;
    border-bottom: 2.5px solid rgb(224, 124, 9);
}

.father-container {
    width: 65%;
    right: 0;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-container {
    position: absolute;
    top: 183px;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

#form h2 {
    margin-bottom: 2em;
}

ul li {
    list-style: none;
  }
  

.image {
    width: 35%;
    background: rgb(25, 41, 70);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.footer-copyright {
    color:  rgb(25, 41, 70);
    font-size: 1.2em;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100vw;
}

.footer-copyright a {
    text-decoration: none;
    color: rgb(54, 85, 143) ;
}

@media (max-width: 689px) {

    body {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }

    .title {
        left: 74%;
        top: 33px;
        width: 20%;
        text-align: center;
        padding: 7px 10px;
    }

    .fixed-top {
        padding: 2em;
    }

    .signup {
        color:orange !important;
        border-bottom: 2.5px solid #fff;
    }
    
    .signup:hover {
        color: rgb(224, 124, 9) !important;
        text-decoration: none;
        border-bottom: 2.5px solid rgb(224, 124, 9);
    }
    

    .nav-item .signup {
        position: absolute;
        top: 250px;
        font-size: 2.4em;
        left: 25%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 5em;
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }

    .father-container {
        top: 10px;
        width: 100%;
        margin: 0;
        height: 100%;
        position: absolute;
        justify-content: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        left: 1px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    }

    .image {
        background-image: url('https://images.pexels.com/photos/574282/pexels-photo-574282.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 406px;
        opacity: 0.5;
        left: 0;
        z-index: -10;
        top: -13em;
        border-bottom-left-radius: 70px 58px;
        border-bottom-right-radius: 70px 58px;
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    #form {
        margin: 0;
        background: rgb(221, 217, 217);
        padding: 2.5em 2em 2em;
        border-radius: 10px;
        width: 100%;
    }

    .form-container {
        position: relative;
        top: 52px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        left: 0;
        padding: 1em 4em;
        margin-left: 0em;
        margin-bottom: 7em;
    }

    .logos img {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-self: center;
        width: 250px;
        height: 250px;
        left: 0;
    }

    .collapse.show {
        display: block;
        height: 100vh;
    }

    /*vertical bar line */
/* 
    ul li {
        list-style: none;
    }

    .bar-left {
        list-style: none;
        height: 100vh;
        position: absolute;
        top: 140px;
        left: 40px;
        z-index: 110;
    }

    .bar-left>li {
        position: relative;
        top: -79px;
        height: 19%;
    }

    .bar-left>li:before {
        content: '\25CF';
        margin-right: 10px;
        font-size: 30px;
    }

    .bar-left>li:after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        border-left: 4px solid black;
        margin-left: 8px;
        height: 64%;
    }

    .bar-left>li:first-of-type:after {
        top: 16%;
    }

    .bar-left>li:last-of-type:after {
        top: -50%;
    }

    .bar-right {
        list-style: none;
        height: 100vh;
        position: absolute;
        top: 140px;
        left: 255px;
        z-index: 110;
    }

    .bar-right>li {
        position: relative;
        top: -79px;
        height: 19%;
    }

    .bar-right>li:before {
        content: '\25CF';
        margin-right: 10px;
        font-size: 30px;
    }

    .bar-right>li:after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        border-left: 4px solid black;
        margin-left: 8px;
        height: 64%;
    }

    .bar-right>li:first-of-type:after {
        top: 16%;
    }

    .bar-right>li:last-of-type:after {
        top: -50%;
    } */


    .page-footer {
        position: absolute;
        bottom: 0;
    }
}