* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.logos img {
    height: 50px;
    width: 80px;
    cursor: pointer;
    left: 30px;
}

.title {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 15px;
    color: #fff;
    padding: 3px;
    opacity: 0;
    z-index: 100;
    border: 1px solid #fff;
    border-bottom: 2.5px solid #fff;
}

.active .title:hover {
    background: yellow;
    color: #000 !important;
}

.on-right {
    font-weight: bold;
    font-size: 2em;
    border-bottom: 3.5px solid rgb(25, 41, 70);
}

.on-right:hover {
    color: rgb(28, 122, 184) !important;
}


.signin {
    color: rgb(25, 41, 70) !important;
    top: -4px;
    font-size: 1.8em;
    right: -500px;
    border-bottom: 2.5px solid rgb(25, 41, 70);
}

.signin:hover {
    color: rgb(224, 124, 9);
    text-decoration: none;
    border-bottom: 2.5px solid rgb(28, 122, 184)
}


.link {
    font-size: 1em;
}

.father-container {
    background: url('https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-container {
    position: absolute;
    top: 183px;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2em;
    width: 55%;
}

#form {
    margin: 0;
    position: relative;
    top: 0em;
    left: 0em;
    display: inline-block;
    background: rgb(221, 217, 217);
    padding: 2.5em 2em 2em;
    border-radius: 10px;
    width: 100%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#form h2 {
    margin-bottom: 2em;
}

.col-md-4 .g-recaptcha {
    width: 100%;

}

.g-recaptcha>div {
    width: 27vw !important;
}

.image {
    width: 35%;
    background: rgb(25, 41, 70);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

.footer-copyright {
    color: rgb(25, 41, 70);
    font-size: 1.2em;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0px;
    font-weight: bold;
}

.footer-copyright a {
    text-decoration: none;
    color: rgb(54, 85, 143);
    font-weight: bold;
}

@media (max-width: 689px) {

    body {
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }

    .title {
        left: 74%;
        top: 33px;
        width: 20%;
        text-align: center;
        padding: 7px 10px;
    }

    .fixed-top {
        padding: 2em;
    }

    .signin {
        color: rgb(255, 115, 0) !important;
        border-bottom: 2.5px solid #fff;
    }

    .signin:hover {
        color: rgb(240, 236, 23) !important;
        text-decoration: none;
        border-bottom: 2.5px solid rgb(224, 124, 9);
    }

    .nav-item .signin {
        position: relative;
        top: 50px;
        font-size: 2.4em;
        left: 25%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 1em;
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
    }

    .father-container {
        top: 10px;
        width: 100%;
        margin: 0;
        height: 100%;
        position: absolute;
        justify-content: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        left: 1px;
        background: url('https://images.pexels.com/photos/616404/pexels-photo-616404.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image {
        background-image: url('https://images.pexels.com/photos/574282/pexels-photo-574282.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 406px;
        opacity: 0.5;
        left: 0px;
        z-index: 0;
        top: -13em;
        border-bottom-left-radius: 70px 58px;
        border-bottom-right-radius: 70px 58px;
    }

    .logos img {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-self: center;
        width: 250px;
        height: 250px;
        top: -2em;
        left: 0;
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    ul li {
        list-style: none;
    }


    #form {
        margin: 0;
        background: rgb(221, 217, 217);
        padding: 2.5em 2em 2em;
        border-radius: 10px;
        width: 100%;
    }

    iframe {
        width: 65vw !important;
        position: relative;
        left: -20px;
    }

    .form-container {
        position: relative;
        top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        left: 0;
        width: 100%;
        padding: 1em 4em;
        margin-left: 0em;
        margin-bottom: 7em;
        margin-top: 7em;
        z-index: 12;
    }

    .collapse.show {
        display: block;
        height: 100vh;
    }


    .error-message {
        top: -4em;
        left: 63px;
        width: 66%
    }


    .page-footer {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

@media (min-width: 1201px) {
    .form-container {
        top: 5em;
    }
}

@media (min-width: 690px) and (max-width: 1199px) {
    iframe {
        width: 23vw !important;
        position: relative;
        left: -33px;
    }
}

@media (min-width: 950px) and (max-width: 1200px) {


    iframe {
        width: 27vw !important;
        position: relative;
        left: -20px;
    }

    .form-container {
        top: 7em;
    }

    .signin {
        left: 370px;
    }
}

@media (min-width: 768px) and (max-width: 949px) {

    iframe {
        width: 38vw !important;
    }

    .form-container {
        top: 11em;
        width: 70%;
    }

    .signin {
        left: 270px;
    }
}

@media (min-width: 700px) and (max-width: 767px) {

    .form-container {
        top: 11em;
    }

    .error-message {
        width: 44vw;
    }


    iframe {
        width: 38vw !important;
    }

    .collapse.show {
        display: block;
        height: 100vh;
    }

    .logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    #form {
        width: 300px;
    }

    .logos img {
        left: 20px;
        top: 2px;
        width: 250px;
        height: 250px;
    }

    .mr-auto .nav-item .nav-link {
        color: orange !important;
        border-bottom: 2.5px solid orange;
        margin-top: 1em;
        left: 285px;
        color: #fff !important;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        text-align: center;
    }

    .mr-auto .nav-item .nav-link:hover {
        color: yellow !important;
    }
}

@media (max-width: 607px) {

    .g-recaptcha div>iframe {
        left: 0px;
        width: 34vw;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0;
        position: absolute;
    }

    .rc-anchor-normal .rc-anchor-pt {
        margin: 2px 13px 0 0;
        padding-right: 2px;
        position: relative !important;
    }
}